body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #007bff;
  color: white;
  text-align: center;
  padding: 2rem 0;
}

section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

.project {
  background: white;
  padding: 1rem;
  margin: 1rem 0;
  border-left: 5px solid #007bff;
}

.project a{
    text-decoraction: none;
      margin: display: inline-block;
}

form input, form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background: #007bff;
  color: white;
  border: none;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
  border-radius: 5px;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 1rem 0;
}
.foto-perfil {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
  margin-top: -80px;
  background: white;
}


#blog {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

#blog h2 {
  text-align: center;
  margin-bottom: 20px;
}

.post {
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}

.post h3 {
  margin-bottom: 8px;
  color: #333;
}

.post p {
  color: #555;
}


#contact img{
    width: 10%;
    border: 10px;
    justify-content: center;
}



.container-links {
  text-align: center;
  padding: 30px 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.container-links h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.container-links a {
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.container-links a:hover {
  transform: scale(1.1);
}

.container-links img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}
